# Ambiente virtual
.venv/

# Python
__pycache__/
*.py[cod]

# PyCharm
.idea/

# Logs gerados
logs/*
!logs/.gitkeep

# Documentos gerados
output/
*.pdf
*.docx
output/word/*
output/pdf/*

# Arquivos temporários do Office
~$*.xlsx
~$*.docx

# Arquivos temporários do Office e LibreOffice
~$*
.~lock.*

# Arquivos de entrada
input/*
!input/.gitkeep


