# Ambiente virtual
.venv/

# Python
__pycache__/
*.py[cod]

# PyCharm
.idea/

# Logs gerados
logs/*.log

# Documentos gerados
output/

# Arquivos temporários do Office
~$*.xlsx
~$*.docx

# Arquivos de entrada
input/*.xlsx
input/*.docx
input/*.pdf

